@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* ------------ Global ------------- */
html, body {
    margin: 0;
box-sizing: border-box;
overflow-x: hidden;
}

a {
    display:inline-block;
    text-decoration:none;
    color: white;
}


:root {
     /* theme color */
    --text-gray:#3f4954;
    --text-light:#777C92;
    --bg-color:#0f0f0f;
    --midnight:#104f55;

    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Very-light-gray: hsl(0, 0%, 95%);

    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    
    /* -------colors------- */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --main-bg : hsl(217, 54%, 11%);
    --card-bg : hsl(216, 50%, 16%);
    --Very-dark-blue- : hsl(215, 32%, 27%);


}   
img {
    max-width: 100%;
    height: auto;
  }

  .text-gray {
      color: var(--text-gray);
  }

  .text-light {
    color: var(--text-light);
    font-weight: 100;

  }


/* -----x------ Global ------x------ */

.container {
    display: flex;
    background-color:var(--main-bg) ;
    justify-content: center;
    color: var(--Soft-blue);
    padding: 150px;
    font-family: 'outfit';
    font-size: 18px;
    font-weight: 300;

}
/* ------------------card----------------------- */
.card {
    background-color: var(--card-bg);
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;    
    padding: 20px;
}
/* -----------------card-img-wiew---------------- */
.card-img img {
    border-radius: 10px;
}
.view {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    justify-self: center;
    align-self: center;
    background: hsl(178deg 100% 50% / 51%);
    display: none;
    justify-content: center;
    align-items: center;
    
}
.view>img {
    width: 50px;
    height: 50px;
    opacity: 100%;
}
.card-img:hover .view{
    display: flex;
  }
/* ---------xx--------card-img-wiew---------xx------- */

.card a:hover {
    color: var(--Cyan);
}

.rate {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 0px 30px 0px;
      border-bottom: 1px solid var(--Very-dark-blue-);
}
.rate>span {
    display: flex;
    justify-content: space-around;
    color: var(--Cyan);
    font-weight: 400;
    vertical-align: middle;

}
.rate>div {
    display: flex;
    flex-direction: row;    
}
.rate img {
    margin-right: 10px;
}

.creator {
    display: flex;
    align-items: center ;
}
.creator img {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 15px;
    margin: 20px 20px 20px 0;
}

@media screen and (max-width:750px) {
    .container {
        padding: 0;
    }
    
}
